@model EventoViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />

<form action="/Cocinero/CrearEvento" method="post">
    <div>
        Nombre del evento: <input asp-for="Nombre" type="text" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div><br>
    <div>
        Fecha: <input asp-for="Fecha" type="date" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div><br>
    <div>
        Ubicación: <input asp-for="Ubicacion" type="text" />
        <span asp-validation-for="Ubicacion" class="text-danger"></span>
    </div><br>
    <div>
        Cantidad máxima de comensales: <input asp-for="CantidadComensales" type="number" />
        <span asp-validation-for="CantidadComensales" class="text-danger"></span>
    </div><br>
    <div>
        Imagen: <input asp-for="Foto" type="file" disabled />
        <span asp-validation-for="Foto" class="text-danger"></span>
    </div><br>
    <div>
        Precio: <input asp-for="Precio" type="number" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div><br>


    @*<select asp-for="IdsRecetas" asp-items="ViewBag.Recetas" multiple >
        <option>Seleccione entre sus recetas</option>
    </select>*@
    @Html.DropDownListFor(x => x.IdsRecetas, (IEnumerable<SelectListItem>)ViewBag.Recetas, new {@class ="form-control chosen-select", @multiple = true })


    <input type="submit" name="Registrar" value="Crear" />
</form>

<script>
    $('.chosen-select').chosen();
</script>
