@model Evento
@*- nombre del evento.
    - fecha del evento.
    - descripción.
    - recetas propuestas para el evento.
    - cantidad máxima de comensales.
    - ubicación (dirección)
    - foto del evento.
    - precio (valor decimal)*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />

<form action="/Cocinero/CrearEvento" method="post">
    <div>
        Nombre: <input asp-for="Nombre" type="text" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    
  
    
    <input type="submit" name="Registrar" value="Crear" />
</form>


