<p>@ViewBag.Msg</p>
<form action="/Usuarios/Login" method="post">
    <div>
        Email: <input name="email" type="email" />
    </div>
    <div>
        Contraseña: <input name="password" type="password" />
    </div>
    <input type="submit" name="Login" value="Iniciar Sesión" />

</form>